<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498548828224-rvb5vinqev48lrgepg59gqg9tmm7rkd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498548828224-rvb5vinqev48lrgepg59gqg9tmm7rkd6</string>
	<key>API_KEY</key>
	<string>AIzaSyCGcyFC8N25HKvymlx68VSISSLQebHnZ5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>498548828224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qossaykamel.readspeed</string>
	<key>PROJECT_ID</key>
	<string>readspeed-app</string>
	<key>STORAGE_BUCKET</key>
	<string>readspeed-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498548828224:ios:9281f3d9cf340d587117a5</string>
</dict>
</plist>